<!doctype html>
<html>
    <head>
        <title>PISA</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
        </head>
    <body>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <div class="main-box app">
            <h1>PISA</h1>
            <div class="app-wrapper">
                <form method="post">
                    <div class="input-box">
                        <label>Class Number:</label>
                        <input name="class_number" id = "class_number">
                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary" type="submit"> Fetch Information </button>
                        </div>
                    </div>
                </form>
            </div>
            {% if gotData == True %}
                <h2>{{  className }}</h2>
                <div class="">
                    <ul>
                        <li>{{ meetingPlace }}</li>
                        <li>{{ startDate }}</li>
                        <li>{{ meetingDays }}</li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </body>
</html>