<!doctype html>
<html>
    <head>
        <title>PISA</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
        </head>
    <body>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        Content goes here.
        <div class="main-box app">
            <h1>PISA</h1>
            <div class="app-wrapper">
                <div class="input-box">
                    Class Number: 
                    <input type="number" name="currency-amount-1" value="1">
                    <button id="fetch-button">Fetch Information</button>
                </div>
            </div>
        </div>
    </body>
</html>